doctype html
html.no-js(lang='zxx')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Title | Education
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='manifest', href='site.webmanifest')
    link(rel='shortcut icon', type='image/x-icon', href='assets/img/favicon.ico')
    // CSS here
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/owl.carousel.min.css')
    link(rel='stylesheet', href='assets/css/slicknav.css')
    link(rel='stylesheet', href='assets/css/flaticon.css')
    link(rel='stylesheet', href='assets/css/progressbar_barfiller.css')
    link(rel='stylesheet', href='assets/css/gijgo.css')
    link(rel='stylesheet', href='assets/css/animate.min.css')
    link(rel='stylesheet', href='assets/css/animated-headline.css')
    link(rel='stylesheet', href='assets/css/magnific-popup.css')
    link(rel='stylesheet', href='assets/css/fontawesome-all.min.css')
    link(rel='stylesheet', href='assets/css/themify-icons.css')
    link(rel='stylesheet', href='assets/css/slick.css')
    link(rel='stylesheet', href='assets/css/nice-select.css')
    link(rel='stylesheet', href='assets/css/style.css')
  body
    // ? Preloader Start
    #preloader-active
      .preloader.d-flex.align-items-center.justify-content-center
        .preloader-inner.position-relative
          .preloader-circle
          .preloader-img.pere-text
            img(src='assets/img/logo/loder.png', alt='')
    // Preloader Start
    // Header Start
    .header-area.header-transparent
      .main-header
        .header-bottom.header-sticky
          .container-fluid
            .row.align-items-center
              // Logo
              .col-xl-2.col-lg-2
                .logo
                  a(href='index.html')
                    img(src='assets/img/logo/logo1.png', alt='')
              .col-xl-10.col-lg-10
                .menu-wrapper.d-flex.align-items-center.justify-content-end
                  // Main-menu
                  .main-menu.d-none.d-lg-block
                    nav
                      ul#navigation
                        li.active
                          a(href='index.html') Home
                        li
                          a(href='courses.html') Courses
                        li
                          a(href='contact.html') Contact
                        // Button
                        li.button-header.margin-left
                          a.btn(href=' https://forms.gle/uC4kbqAB2UtECD2c8') Join
                        li.button-header
                          a.btn.btn3(href='login.html') Log in
              // Mobile Menu
              .col-12
                .mobile_menu.d-block.d-lg-none
    // Header End
    main
      // ? slider Area Start
      section.slider-area.slider-area2
        .slider-active
          // Single Slider
          .single-slider.slider-height2
            .container
              .row
                .col-xl-8.col-lg-11.col-md-12
                  .hero__caption.hero__caption2
                    h1(data-animation='bounceIn', data-delay='0.2s') Our courses
                    // breadcrumb Start
                    nav(aria-label='breadcrumb')
                      ol.breadcrumb
                        li.breadcrumb-item
                          a(href='index.html') Home
                        li.breadcrumb-item
                          a(href='#') Courses
                    // breadcrumb End
                    // Courses area start
                    .courses-area.section-padding40.fix
                      .container
                        .row.justify-content-center
                          .col-xl-7.col-lg-8
                            .section-tittle.text-center.mb-55
                              h2 Our courses
                        .row
                          .col-lg-4
                            .properties.properties2.mb-30
                              .properties__card
                                .properties__img.overlay1
                                  a(href='#')
                                    img(src='assets/img/gallery/featured1.png', alt='')
                                .properties__caption
                                  h3
                                    a(href='login.html') Hindi
                                  p
                                    | Classes available for grade 4 to grade 10 -2
                                    | nd and 3rd language hindi for both icse and cbse.
                                  .properties__footer.d-flex.justify-content-between.align-items-center
                                    .price
                                      span Price
                                  a.border-btn.border-btn2(href='login.html') Login To Access
                          .col-lg-4
                            .properties.properties2.mb-30
                              .properties__card
                                .properties__img.overlay1
                                  a(href='#')
                                    img(src='assets/img/gallery/featured1.png', alt='')
                                .properties__caption
                                  h3
                                    a(href='login.html') Sanskrit
                                  p
                                    | Classes available for grade 4 to grade 10 -2
                                    | nd and 3rd language Sanskrit for both icse and cbse.
                                  .properties__footer.d-flex.justify-content-between.align-items-center
                                    .price
                                      span Price
                                  a.border-btn.border-btn2(href='login.html') Login To Access
                          .col-lg-4
                            .properties.properties2.mb-30
                              .properties__card
                                .properties__img.overlay1
                                  a(href='#')
                                    img(src='assets/img/gallery/featured1.png', alt='')
                                .properties__caption
                                  h3
                                    a(href='login.html') History
                                  p
                                    | Classes 6th to 10thicse and cbse.
                                    br
                                    br
                                    br
                                  .properties__footer.d-flex.justify-content-between.align-items-center
                                    .price
                                      span Price
                                  a.border-btn.border-btn2(href='login.html') Login To Access
                          .col-lg-4
                            .properties.properties2.mb-30
                              .properties__card
                                .properties__img.overlay1
                                  a(href='#')
                                    img(src='assets/img/gallery/featured1.png', alt='')
                                .properties__caption
                                  h3
                                    a(href='login.html') Civics
                                  p
                                    | Classes 6th to 10th icse and cbse.
                                    br
                                    br
                                    br
                                  .properties__footer.d-flex.justify-content-between.align-items-center
                                    .price
                                      span Price
                                  a.border-btn.border-btn2(href='login.html') Login To Access
                          .col-lg-4
                            .properties.properties2.mb-30
                              .properties__card
                                .properties__img.overlay1
                                  a(href='#')
                                    img(src='assets/img/gallery/featured1.png', alt='')
                                .properties__caption
                                  h3
                                    a(href='login.htmlogin.html') Geography
                                  p
                                    | Classes 6th to 10thicse and cbse.
                                    br
                                    br
                                    br
                                  .properties__footer.d-flex.justify-content-between.align-items-center
                                    .price
                                      span Price
                                  a.border-btn.border-btn2(href='login.htmlogin.html') Login To Access
                          .col-lg-4
                            .properties.properties2.mb-30
                              .properties__card
                                .properties__img.overlay1
                                  a(href='#')
                                    img(src='assets/img/gallery/featured1.png', alt='')
                                .properties__caption
                                  h3
                                    a(href='login.htmlogin.html') Economics
                                  p
                                    | Classes 6th to 10thicse and cbse.
                                    br
                                    br
                                    br
                                  .properties__footer.d-flex.justify-content-between.align-items-center
                                    .price
                                      span Price
                                  a.border-btn.border-btn2(href='login.htmlogin.html') Login To Access
                          .col-lg-4
                            .properties.properties2.mb-30
                              .properties__card
                                .properties__img.overlay1
                                  a(href='#')
                                    img(src='assets/img/gallery/featured1.png', alt='')
                                .properties__caption
                                  h3
                                    a(href='login.html') Sociology
                                  p
                                    | Grade 11th and 12th cbse.
                                    br
                                    br
                                    br
                                  .properties__footer.d-flex.justify-content-between.align-items-center
                                    .price
                                      span Price
                                  a.border-btn.border-btn2(href='login.html') Login To Access
                      // Courses area End
                      // ? services-area
                      .services-area.services-area2.section-padding40
                        .container
                          .row.justify-content-sm-center
                            .col-lg-4.col-md-6.col-sm-8
                              .single-services.mb-30
                                .features-icon
                                  img(src='assets/img/icon/icon1.svg', alt='')
                                .features-caption
                                  h3 7 courses
                                  p Seven Full courses with expert teaching.
                            .col-lg-4.col-md-6.col-sm-8
                              .single-services.mb-30
                                .features-icon
                                  img(src='assets/img/icon/icon2.svg', alt='')
                                .features-caption
                                  h3 Expert instructors
                                  p Experienced with prior knowledge in all of the subjects.
                            .col-lg-4.col-md-6.col-sm-8
                              .single-services.mb-30
                                .features-icon
                                  img(src='assets/img/icon/icon3.svg', alt='')
                                .features-caption
                                  h3 Always Available
                                  p Available full time for doubts and clarification.
    footer
      .footer-wrappper.footer-bg
        // Footer Start
        .footer-area.footer-padding
          .container
            .row.justify-content-between
              .col-xl-4.col-lg-5.col-md-4.col-sm-6
                .single-footer-caption.mb-50
                  .single-footer-caption.mb-30
                    // logo
                    .footer-logo.mb-25
                      a(href='index.html')
                        img(src='assets/img/logo/logo1.png', alt='')
                    .footer-tittle
                      .footer-pera
                        p We aim at giving our best and helping the world move forward.
                    // social
                    .footer-social
                      a(href='#')
                        i.fab.fa-twitter
                      a(href='#')
                        i.fab.fa-facebook-f
                      a(href='#')
                        i.fab.fa-pinterest-p
              .col-xl-2.col-lg-4.col-md-4.col-sm-6
                .single-footer-caption.mb-50
                  .footer-tittle
                    h4 Support
                    ul
                      li(style='color:aliceblue;') vishakha.mathur@hotmail.com
                      li(style='color:aliceblue;') +91 9019641522
                      li(style='color:aliceblue;') Bangalore
                      li(style='color:aliceblue;') India
              .col-xl-2.col-lg-3.col-md-4.col-sm-6
                .single-footer-caption.mb-50
                  .footer-tittle
                    h4 Subjects
                    ul
                      li
                        a(href='courses.html') Hindi
                      li
                        a(href='courses.html') Sanskrit
                      li
                        a(href='courses.html') History
                      li
                        a(href='courses.html') More
        // footer-bottom area
        .footer-bottom-area
          .container
            .footer-border
              .row.d-flex.align-items-center
                .col-xl-12
                  .footer-copy-right.text-center
                    p(style='font-size: small;') Design By Pritam
        // Footer End
        // Scroll Up
        #back-top
          a(title='Go to Top', href='#')
            i.fas.fa-level-up-alt
        // JS here
        script(src='./assets/js/vendor/modernizr-3.5.0.min.js')
        // Jquery, Popper, Bootstrap
        script(src='./assets/js/vendor/jquery-1.12.4.min.js')
        script(src='./assets/js/popper.min.js')
        script(src='./assets/js/bootstrap.min.js')
        // Jquery Mobile Menu
        script(src='./assets/js/jquery.slicknav.min.js')
        // Jquery Slick , Owl-Carousel Plugins
        script(src='./assets/js/owl.carousel.min.js')
        script(src='./assets/js/slick.min.js')
        // One Page, Animated-HeadLin
        script(src='./assets/js/wow.min.js')
        script(src='./assets/js/animated.headline.js')
        script(src='./assets/js/jquery.magnific-popup.js')
        // Date Picker
        script(src='./assets/js/gijgo.min.js')
        // Nice-select, sticky
        script(src='./assets/js/jquery.nice-select.min.js')
        script(src='./assets/js/jquery.sticky.js')
        // Progress
        script(src='./assets/js/jquery.barfiller.js')
        // counter , waypoint,Hover Direction
        script(src='./assets/js/jquery.counterup.min.js')
        script(src='./assets/js/waypoints.min.js')
        script(src='./assets/js/jquery.countdown.min.js')
        script(src='./assets/js/hover-direction-snake.min.js')
        // contact js
        script(src='./assets/js/contact.js')
        script(src='./assets/js/jquery.form.js')
        script(src='./assets/js/jquery.validate.min.js')
        script(src='./assets/js/mail-script.js')
        script(src='./assets/js/jquery.ajaxchimp.min.js')
        // Jquery Plugins, main Jquery
        script(src='./assets/js/plugins.js')
        script(src='./assets/js/main.js')
