doctype html
html.no-js(lang='zxx')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Title | Education
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='manifest', href='site.webmanifest')
    link(rel='shortcut icon', type='image/x-icon', href='assets/img/favicon.ico')
    // CSS here
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/owl.carousel.min.css')
    link(rel='stylesheet', href='assets/css/slicknav.css')
    link(rel='stylesheet', href='assets/css/flaticon.css')
    link(rel='stylesheet', href='assets/css/progressbar_barfiller.css')
    link(rel='stylesheet', href='assets/css/gijgo.css')
    link(rel='stylesheet', href='assets/css/animate.min.css')
    link(rel='stylesheet', href='assets/css/animated-headline.css')
    link(rel='stylesheet', href='assets/css/magnific-popup.css')
    link(rel='stylesheet', href='assets/css/fontawesome-all.min.css')
    link(rel='stylesheet', href='assets/css/themify-icons.css')
    link(rel='stylesheet', href='assets/css/slick.css')
    link(rel='stylesheet', href='assets/css/nice-select.css')
    link(rel='stylesheet', href='vendors/linericon/style.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='vendors/owl-carousel/owl.carousel.min.css')
    link(rel='stylesheet', href='vendors/lightbox/simpleLightbox.css')
    link(rel='stylesheet', href='vendors/nice-select/css/nice-select.css')
    link(rel='stylesheet', href='vendors/animate-css/animate.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='assets/css/style.css')
  body
    // ? Preloader Start
    #preloader-active
      .preloader.d-flex.align-items-center.justify-content-center
        .preloader-inner.position-relative
          .preloader-circle
          .preloader-img.pere-text
            img(src='assets/img/logo/loder.png', alt='')
    // Preloader Start
    // Header Start
    .header-area.header-transparent
      .main-header
        .header-bottom.header-sticky
          .container-fluid
            .row.align-items-center
              // Logo
              .col-xl-2.col-lg-2
                .logo
                  a(href='index.html')
                    img(src='assets/img/logo/logo1.png', alt='')
              .col-xl-10.col-lg-10
                .menu-wrapper.d-flex.align-items-center.justify-content-end
                  // Main-menu
                  .main-menu.d-none.d-lg-block
                    nav
                      ul#navigation
                        li.active
                          a(href='index.html') Home
                        li
                          a(href='courses.html') Courses
                        li
                          a(href='contact.html') Contact
                        // Button
                        a#userName.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Rahul
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='userName')
                          a.dropdown-item(href='index.html') Logout
              // Mobile Menu
              .col-12
                .mobile_menu.d-block.d-lg-none
    // Header End
    main
      // ? slider Area Start
      section.slider-area.slider-area2
        .slider-active
          // Single Slider
          .single-slider.slider-height2
            .container
              .row
                .col-xl-8.col-lg-11.col-md-12
                  .hero__caption.hero__caption2
                    h1(data-animation='bounceIn', data-delay='0.2s') Our courses
                    // breadcrumb Start
                    nav(aria-label='breadcrumb')
                      ol.breadcrumb
                        li.breadcrumb-item
                          a(href='index.html') Home
                        li.breadcrumb-item
                          a(href='courses.html') Courses
                        li.breadcrumb-item
                          a(href='#') Sanskrit
                    // breadcrumb End
                    // ================ Start Course Details Area =================
                    section.course_details_area.section_gap
                      .container
                        .row
                          .col-lg-8.course_details_left
                            .main_image
                              img.img-fluid(src='./assets/img/course-details.jpg', alt='')
                            .content_wrapper
                              h4.title Sanskrit
                              h4.title Course Content
                              .content
                                ul.course_list
                                  li.justify-content-between.d-flex
                                    p Introduction Lesson
                                    a.primary-btn.text-uppercase(href='#') Download
                                  li.justify-content-between.d-flex
                                    p Lesson 1
                                    a.primary-btn.text-uppercase(href='#') Download
                                  li.justify-content-between.d-flex
                                    p Lesson 2
                                    a.primary-btn.text-uppercase(href='#') Download
                                  li.justify-content-between.d-flex
                                    p Lesson 3
                                    a.primary-btn.text-uppercase(href='#') Download
                                  li.justify-content-between.d-flex
                                    p Lesson 4
                                    a.primary-btn.text-uppercase(href='#') Download
                                  li.justify-content-between.d-flex
                                    p Lesson 5
                                    a.primary-btn.text-uppercase(href='#') Download
                                  li.justify-content-between.d-flex
                                    p Lesson 6
                                    a.primary-btn.text-uppercase(href='#') Download
                                  li.justify-content-between.d-flex
                                    p Lesson 7
                                    a.primary-btn.text-uppercase(href='#') Download
                                  li.justify-content-between.d-flex
                                    p Lesson 8
                                    a.primary-btn.text-uppercase(href='#') Download
                          .col-lg-4.right-contents
                            ul
                              li
                                .justify-content-between.d-flex
                                  p Trainer’s Name
                                  span.or Vishakha Mathur
                              li
                                .justify-content-between.d-flex
                                  p Course Fee 
                                  span 2000/-
                              li
                                .justify-content-between.d-flex
                                  p Schedule 
                                  span 2.00 pm to 4.00 pm
                            br
                            br
                            .feedeback
                              h6 Your Feedback
                              textarea.form-control(name='feedback', cols='10', rows='10')
                              .mt-10.text-right
                                a.primary-btn.text-right.text-uppercase(href='#') Submit
                            br
                            br
                            div
                              .justify-content-between.d-flex
                                h4 Submit Assignment
                              form(action='upload.php', method='POST', enctype='multipart/form-data')
                                label(for='myfile') Select a file:
                                input#myfile(type='file', name='myfile')
                                br
                                br
                                input.primary-btn.text-uppercase.enroll(style='border: 0px;', type='submit')
                            br
                            br
                            br
                            div
                              ul
                                li
                                  .justify-content-between.d-flex
                                    p Grade
                                    span.or 9
                                a.primary-btn.text-uppercase.enroll(href='#') Download Corrected File
                      .col-lg-4.right-contents
                    // ================ End Course Details Area =================
    footer
      .footer-wrappper.footer-bg
        // Footer Start
        .footer-area.footer-padding
          .container
            .row.justify-content-between
              .col-xl-4.col-lg-5.col-md-4.col-sm-6
                .single-footer-caption.mb-50
                  .single-footer-caption.mb-30
                    // logo
                    .footer-logo.mb-25
                      a(href='index.html')
                        img(src='assets/img/logo/logo1.png', alt='')
                    .footer-tittle
                      .footer-pera
                        p We aim at giving our best and helping the world move forward.
                    // social
                    .footer-social
                      a(href='#')
                        i.fab.fa-twitter
                      a(href='#')
                        i.fab.fa-facebook-f
                      a(href='#')
                        i.fab.fa-pinterest-p
              .col-xl-2.col-lg-4.col-md-4.col-sm-6
                .single-footer-caption.mb-50
                  .footer-tittle
                    h4 Support
                    ul
                      li(style='color:aliceblue;') vishakha.mathur@hotmail.com
                      li(style='color:aliceblue;') +91 9019641522
                      li(style='color:aliceblue;') Bangalore
                      li(style='color:aliceblue;') India
              .col-xl-2.col-lg-3.col-md-4.col-sm-6
                .single-footer-caption.mb-50
                  .footer-tittle
                    h4 Subjects
                    ul
                      li
                        a(href='courses.html') Hindi
                      li
                        a(href='courses.html') Sanskrit
                      li
                        a(href='courses.html') History
                      li
                        a(href='courses.html') More
        // footer-bottom area
        .footer-bottom-area
          .container
            .footer-border
              .row.d-flex.align-items-center
                .col-xl-12
                  .footer-copy-right.text-center
                    p(style='font-size: small;') Design By Pritam
        // Footer End
        // Scroll Up
        #back-top
          a(title='Go to Top', href='#')
            i.fas.fa-level-up-alt
        // JS here
        script(src='./assets/js/vendor/modernizr-3.5.0.min.js')
        // Jquery, Popper, Bootstrap
        script(src='./assets/js/vendor/jquery-1.12.4.min.js')
        script(src='./assets/js/popper.min.js')
        script(src='./assets/js/bootstrap.min.js')
        // Jquery Mobile Menu
        script(src='./assets/js/jquery.slicknav.min.js')
        // Jquery Slick , Owl-Carousel Plugins
        script(src='./assets/js/owl.carousel.min.js')
        script(src='./assets/js/slick.min.js')
        // One Page, Animated-HeadLin
        script(src='./assets/js/wow.min.js')
        script(src='./assets/js/animated.headline.js')
        script(src='./assets/js/jquery.magnific-popup.js')
        // Date Picker
        script(src='./assets/js/gijgo.min.js')
        // Nice-select, sticky
        script(src='./assets/js/jquery.nice-select.min.js')
        script(src='./assets/js/jquery.sticky.js')
        // Progress
        script(src='./assets/js/jquery.barfiller.js')
        // counter , waypoint,Hover Direction
        script(src='./assets/js/jquery.counterup.min.js')
        script(src='./assets/js/waypoints.min.js')
        script(src='./assets/js/jquery.countdown.min.js')
        script(src='./assets/js/hover-direction-snake.min.js')
        // contact js
        script(src='./assets/js/contact.js')
        script(src='./assets/js/jquery.form.js')
        script(src='./assets/js/jquery.validate.min.js')
        script(src='./assets/js/mail-script.js')
        script(src='./assets/js/jquery.ajaxchimp.min.js')
        // Jquery Plugins, main Jquery
        script(src='./assets/js/plugins.js')
        script(src='./assets/js/main.js')
        // jQuery first, then Popper.js, then Bootstrap JS
        script(src='js/jquery-3.2.1.min.js')
        script(src='js/popper.js')
        script(src='js/bootstrap.min.js')
        script(src='js/stellar.js')
        script(src='vendors/nice-select/js/jquery.nice-select.min.js')
        script(src='vendors/owl-carousel/owl.carousel.min.js')
        script(src='js/owl-carousel-thumb.min.js')
        script(src='js/jquery.ajaxchimp.min.js')
        script(src='vendors/counter-up/jquery.counterup.js')
        script(src='js/mail-script.js')
        // gmaps Js
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE')
        script(src='js/gmaps.min.js')
        script(src='js/theme.js')
